.card{
    width: 70%;
    margin: auto;
    background-color: papayawhip;
    border: 2px solid rgb(198, 17, 17);
    border-radius: 50px;
}
.parent{
    background-color: rgba(184, 150, 150, 0.647);
}
body{
    background-color: red;
}

h3{
    color: black;
}