<form class="example-section" [formGroup]="multipleChioce">
  <h3> Single Choice Question</h3>
  
  <input
    type = text;
    formControlName="question"
    placeholder="Enter your question"
  />
<div formArrayName="option">
<div class="example-full-width" *ngFor="let op of options.controls;let i=index">
  <mat-radio-button class="example-margin" >
    <input
    type = text;
    [formControlName]="i"
    placeholder="Enter Your Choice"      
  /></mat-radio-button>
  </div>
  <button (click)="addNewOptions()" >Add New Option</button>
  <button type="button" (click)="removeOption()" >- Remove Last Option</button>
  <!-- <button (click)="getValue()">submit</button> -->
</div>
</form>






























<!-- <form class="example-section" [formGroup]="multipleChioce">
  <h3> Single Choice Question</h3>
  
  <input
    type = text;
    formControlName="question"
    placeholder="Enter your question"
  />
<div formArrayName="option">
<div class="example-full-width" *ngFor="let op of options.controls;let i=index">
  <mat-single-correct class="example-margin" >
    <input
    type = text;
    [formControlName]="i"
    placeholder="Enter Your Choice"      
  /></mat-single-correct>
  </div>
  <button (click)="addNewOptions()" >Add New Option</button>
  <button type="button" (click)="removeOption()" >- Remove Last Option</button>
  <button (click)="getValue()">submit</button>

</div>
</form>  -->



<!-- <div class="radio-container">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Question</mat-label>
      <input
        matInput
        [formControl]="questionControl"
        placeholder="Enter your question"
      />
    </mat-form-field>
  </div>
  <mat-radio-group aria-label="Select an option" [formControl]="selectedOption">
    <mat-radio-button value="1">Option1</mat-radio-button>
    <mat-radio-button value="2">Option2</mat-radio-button>
  </mat-radio-group>
</div> --> -->
